body{
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    background-color:rgba(0,0,0,0.5);
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
}
.favoritos{
    background-color:rgba(0,0,0,0.5);
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
}
img{
    /* text-align: center; */
    width: 300px;
    height: 280px;
}
.texto{
    background-color:rgba(0,0,0,0.5);
    color: whitesmoke;
}